body {
    background-color: #80eaf2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #777e7f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color:  #aeb9bb;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .delete-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
  }
  
  